[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/zachteed/Pangolin.git
[submodule "dynamic_dpvo_selector"]
	path = dynamic_dpvo_selector
	url = git@github.com:pauloohaha/dynamic_dpvo_selector.git
